@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-shadow: none;
    list-style: none;
    font: inherit;
    font-family: 'Poppins' sans-serif;
}
h1{
    font-size: 56px;
    width: 370px;
    font-weight: 700;
}
body,html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 100%;
    margin-top:50px;
    background-color: hsl(234, 29%, 20%);
}

.conteiner{
    background-image: url('design/');
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 30px;
    width: 870px;
    height: 600px;
    margin: 20px;
    padding: 18px;
    border-radius: 5% 5% 5%;
    background-color: hsl(0, 0%, 100%);
}

.conteudo-texto{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 600px;
    padding:8px;
    align-items: center;
    justify-content:center;
    gap: 25px;
}

.email-adress{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    width: 386px;
    font-weight: bold;
    font-size: 12px;

}

.check{
    height: 15px;
    margin-right: 9px;
}

ul li{
    margin: 6px;
    width: 357px;
}

.submit{
    height: 40px;
    width: 386px;
    border-radius: 12px 12px 12px;
    color: hsl(0, 0%, 100%);
    background-color: rgb(36, 39, 66);
}

.submit:hover{
    cursor: pointer;
    background-color: rgb(58, 62, 101);
}

.input-email{
   
    height: 18px;
    width: 350px;
    border-radius: 12px 12px;
    padding: 15px;
}
